:root {
  --green-800-half-transparent: rgba(16, 36, 12, 0.5);
  --green-900-abovehalf-transparent: rgba(17, 24, 16, 0.625);
  --green-100-half-transparent: rgba(60, 248, 0, 0.5);
  --green-100-fully-transparent: rgba(60, 248, 0, 0);
  --orange-fully-transparent: rgba(252, 253, 125, 0);
}

p {
  max-width: 60ch;
}

#admin-hiscores-content #ladder-table {
  margin-top: 16px;
}

#alert-message {
  margin-top: 40px;
  color: var(--orange);
}

#admin-worlds-list table {
  white-space: nowrap;
}

#admin-worlds-list button+button {
  margin-left: 1ch;
}

#messages-table tbody .messages-unread {
  text-align: right;
}

#messages-table tbody tr.is-unread {
  color: var(--green-100);
}

#messages-table tbody .messages-remove:hover {
  color: var(--orange);
}

#messages-empty-note {
  margin-top: 40px;
}

#message-summary {
  margin: 0;
  color: var(--green-100);
  font-weight: 700;
}

#message-date {
  color: var(--green-300);
}

#message-content {
  max-width: 60ch;
}

#character-stats-list {
  margin-top: 40px;
}

#fight-back-button {
  margin-top: 40px;
}

#message-back-button {
  margin-top: 40px;
}

#create-char-button {
  margin-top: 40px;
}

.fight-info {
  margin-top: 40px;
}

#import-textarea {
  border: none;
  background-color: var(--green-800);
  width: 80ch;
  height: 20em;
  margin-bottom: 1em;
}

#town-store-grid {
  margin-top: 40px;
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "player-name       player-name         vendor-name         vendor-name"
    "player-kept-caps  player-traded-caps  vendor-traded-caps  vendor-kept-caps"
    "player-kept-items player-traded-items vendor-traded-items vendor-kept-items"
    "barter-reset-btn  player-traded-value vendor-traded-value barter-confirm-btn";
}

#town-store-reset-btn {
  grid-area: barter-reset-btn;
}

#town-store-confirm-btn {
  grid-area: barter-confirm-btn;
}

#town-store-player-name {
  grid-area: player-name;
  padding: 8px;
}

#town-store-vendor-name {
  grid-area: vendor-name;
  text-align: right;
  padding: 8px;
}

#town-store-player-name,
#town-store-vendor-name {
  border-bottom: 2px solid var(--green-800);
}

#town-store-player-traded-value {
  grid-area: player-traded-value;
  color: var(--green-100);
  text-align: center;
}

#town-store-vendor-traded-value {
  grid-area: vendor-traded-value;
  color: var(--green-100);
  text-align: center;
}

.town-store-transfer-btn {
  padding: 2px 4px;
  margin: 0 4px;
  background: var(--green-800);
  color: var(--green-200);
}

.town-store-transfer-btn:disabled {
  color: var(--green-300);
  opacity: 0.5;
  pointer-events: none;
}

.town-store-transfer-btn:not(:disabled):hover {
  background: var(--green-300);
  color: var(--green-100);
}

.town-store-transfer-btn.hidden {
  display: none;
}

.town-store-item {
  display: flex;
  align-items: center;
}

.town-store-item-label {
  flex: 1;
}

.player-traded-caps .town-store-item-label,
.vendor-kept-caps .town-store-item-label,
.vendor-kept-item .town-store-item-label,
.player-traded-item .town-store-item-label {
  margin-left: 4px;
}

.town-store-item,
#town-store-player-traded-value,
#town-store-vendor-traded-value {
  padding: 8px;
}

#town-store-player-traded-bg {
  grid-area: 2 / 2 / 5 / 3;
  background-color: var(--green-800-half-transparent);
  border-right: 1px solid var(--green-800);
}

#town-store-vendor-traded-bg {
  grid-area: 2 / 3 / 5 / 4;
  background-color: var(--green-800-half-transparent);
  border-left: 1px solid var(--green-800);
}

.town-store-item.player-kept-caps {
  grid-area: player-kept-caps;
}

.town-store-item.player-traded-caps {
  grid-area: player-traded-caps;
}

.town-store-item.vendor-kept-caps {
  grid-area: vendor-kept-caps;
}

.town-store-item.vendor-traded-caps {
  grid-area: vendor-traded-caps;
}

.town-store-caps {
  padding-top: 4px;
  padding-bottom: 8px;
}

.town-store-caps[data-caps="0"] {
  color: var(--green-300);
}

#town-store-player-kept-items {
  grid-area: player-kept-items;
}

#town-store-player-traded-items {
  grid-area: player-traded-items;
}

#town-store-vendor-kept-items {
  grid-area: vendor-kept-items;
}

#town-store-vendor-traded-items {
  grid-area: vendor-traded-items;
}

#town-store-player-traded-value {
  grid-area: player-traded-value;
}

#town-store-vendor-traded-value {
  grid-area: vendor-traded-value;
}

#town-store-barter-message {
  margin-top: 40px;
  color: var(--orange);
}

.town-store-transfer-n-area {
  display: flex;
}

.town-store-transfer-n-area .after-hover {
  display: none;
}

.town-store-transfer-n-area:hover .after-hover {
  display: block;
}

.town-store-transfer-n-area .before-hover {
  display: block;
}

.town-store-transfer-n-area:hover .before-hover {
  display: none;
}

.town-store-transfer-n-input {
  width: 5.5ch;
  background-color: var(--green-800);
  padding-left: 6px;
}

.inventory-item button {
  margin-right: 1ch;
}

.inventory-item button:last-child {
  margin-right: 2ch;
}

.inventory-item-use-btn:disabled {
  color: var(--green-300);
}

.inventory-equipment-unequip-btn {
  margin-left: 1ch;
}

.character-choose-perk-item {
  cursor: pointer;
}

.character-choose-perk-item:hover {
  color: var(--orange);
}

#character-choose-perk {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

#character-choose-perk-columns {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#fight-stats-table th,
#fight-stats-table td {
  text-align: right;
}

.fight-strategy-grid {
  display: grid;
  grid-template-areas:
    "examples info"
    "textarea info";
  --textarea-margin-top: 16px;
  --textarea-padding: 16px;
  --textarea-line-height: 18px;
}

.fight-strategy-examples {
  grid-area: examples;
}

.fight-strategy-example {
  text-transform: none;
}

.fight-strategy-example:before {
  content: '[';
}

.fight-strategy-example:after {
  content: ']';
}

.fight-strategy-textarea {
  background-color: var(--green-800);
  grid-area: textarea;
  width: 70ch;
  height: 25em;
  margin-top: var(--textarea-margin-top);
  margin-bottom: 16px;
  padding: var(--textarea-padding);
  border-radius: 4px;
  font-size: 16px;
  line-height: var(--textarea-line-height);
  white-space: pre;
  font-family: "PixelOperatorMono";
}

.fight-strategy-hovered-error {
  pointer-events: none;
  user-select: none;
  border-bottom: 2px;
  width: 3ch;
  height: 1em;
  background-color: var(--orange-transparent);
  margin-left: -2px;
  padding-left: 2px;
  border-left: 2px solid var(--orange);
  background: var(--orange);
  background: linear-gradient(90deg, var(--orange-transparent) 0%, var(--orange-fully-transparent) 100%);
  grid-area: textarea;
  font-size: 16px;
  line-height: var(--textarea-line-height);
  transform: translate(calc((var(--error-col) - 1) * 1ch + var(--textarea-padding)),
      calc((var(--error-row) - 1) * var(--textarea-line-height) + var(--textarea-padding) + var(--textarea-margin-top)));

}

.fight-strategy-info {
  grid-area: info;
  margin-left: 16px;
}

.fight-strategy-info-paragraph {
  margin-top: 16px;
}

.fight-strategy-info-link {
  color: var(--green-100);
}

.fight-strategy-info-link:hover {
  color: var(--orange);
}

.fight-strategy-help-btn {
  margin-left: 1ch;
}

.fight-strategy-reset-btn {
  margin-left: 1ch;
}

.fight-strategy-dead-ends {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fight-strategy-dead-end:hover {
  color: var(--green-100);
}

.fight-strategy-warnings {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fight-strategy-warning:hover {
  color: var(--green-100);
}

.fight-strategy-syntax-help-reference {
  color: var(--orange);
  font-family: "PixelOperatorMono";
}

.fight-strategy-syntax-help-grid {
  display: grid;
  grid-template-areas: 'cheatsheet hover';
}

.fight-strategy-syntax-help-cheatsheet {
  grid-area: cheatsheet;
  font-family: "PixelOperatorMono";
}

.fight-strategy-syntax-help-hover {
  grid-area: hover;
  margin-left: 2ch;
}

.fight-strategy-syntax-help-hover-description {
  white-space: pre-wrap;
}

#admin-new-world-form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#admin-new-world-form label input[type="checkbox"] {
  margin-right: 1ch;
}

.quests {
  list-style: none;
}

.quest {
  padding-left: 16px;
}

.quest:before {
  content: '[+]';
  padding-right: 8px;
  color: var(--green-200);
}

.quest:not(.expanded) {
  cursor: pointer;
}

.quest:not(.expanded):hover,
.quest:not(.expanded):hover:before {
  color: var(--green-100);
}

.quest.expanded:before {
  content: '[-]';
}

.quest-inner {
  display: inline-block;
  vertical-align: top;
}

.quest.expanded:not(:last-child) {
  margin-bottom: 20px;
}

.quest-players {
  color: var(--green-300);
}

.quest-number {
  color: var(--green-200);
}

.quest-name {
  cursor: pointer;
}

.quest-name:hover {
  color: var(--green-100);
}

.quest-progressbar {
  color: var(--green-300);
  margin-top: 20px;
}

.quest-progressbar-text {
  margin-left: 1ch;
}

.quest-toggle-btn {
  margin-left: 1ch;
}

.quest-toggle-btn:hover {
  color: var(--orange);
}

.quest-requirements-title {
  margin-top: 20px;
}

.quest-requirements-list {
  padding-inline-start: 4ch;
}

.quest-requirements-none {
  margin-left: 4ch;
  color: var(--green-300);
}

.quest-xp-per-tick {
  color: var(--green-300);
}