:root {
  --green-900-abovehalf-transparent: rgba(17, 24, 16, 0.625);
}


.character-choose-perk-item {
  cursor: pointer;
}

.character-choose-perk-item:hover {
  color: var(--orange);
}

#character-choose-perk {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

#character-choose-perk-columns {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}