:root {
  --bg01: #111810;
  --bg02: #10240C;

  --fg03: #007C00;
  --fg02: #00C000;
  --fg01: #3CF800;

  --fg-highlight: #FCFD7D;
  --fg-highlight-transparent: rgba(252,253,125,0.25);
  --table-border: rgba(0,124,0,0.5); /* fg03 with opacity 0.5 */

  /* filters for the logo calculated with https://codepen.io/sosuke/pen/Pjoqqp */
  --filter-fg02: invert(42%) sepia(85%) saturate(1707%) hue-rotate(88deg) brightness(102%) contrast(112%);
  --filter-fg01: invert(71%) sepia(54%) saturate(3327%) hue-rotate(60deg) brightness(106%) contrast(118%) drop-shadow(0px 0px 8px var(--fg03));
}

@font-face {
  font-family: BQN386;
  src: url('../fonts/BQN386.ttf'); /* Taken from https://dzaima.github.io/BQN386/BQN386.ttf */
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  font-family: BQN386;
  font-size: 18px;
  color: var(--fg02);
  margin: 0;
  position: relative;
  min-height: 100%;
}

body:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-style: solid;
  border-width: 128px;
  border-color: transparent;
  border-image: url('../images/border-image.png') 50% repeat;
  box-sizing: border-box;
  pointer-events: none;
}

button, input {
  font-family: BQN386;
  border: none;
  background: transparent;
  font-size: 18px;
  color: var(--fg02);
  padding: 0;
  margin: 0;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

button:hover,
button:active {
  color: var(--fg01);
  outline-color: var(--fg01);
}

::placeholder {
  color: var(--fg03);
}

#app {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: var(--bg01);
}

#left-nav {
  background-color: var(--bg02);
  min-width: 285px;
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

#logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 26px;
}

#logo {
  width: 190px;
  height: 36px;
  filter: var(--filter-fg02);
}

#version {
  font-size: 14px;
  color: var(--fg03);
}

#app.logged-in #logo {
  filter: var(--filter-fg01);
  animation: flicker 2s linear 1;
}

@keyframes flicker {
  0%, 19%, 26%, 46%, 65%, 82%, 86%, 87%, 90%, 95% {
    filter: var(--filter-fg02);
  }
  20%, 25%, 47%, 64%, 83%, 85%, 88%, 89%, 96%, 100% {
    filter: var(--filter-fg01);
  }
}

#login-form {
  margin-top: 40px;
  width: 18ch;
}

#login-form input {
  color: var(--fg01);
  width: 18ch;
  margin: 0;
  padding: 0;
}

#login-form input:focus {
  outline: none;
  background-color: var(--bg01);
}

#login-form-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

#logged-out-links,
#logged-in-links {
  margin-top: 40px;
}

#common-links {
  margin-top: 1em;
}

.link {
  color: var(--fg03);
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.link-label {
  color: var(--fg01);
  text-transform: uppercase;
  width: 9ch;
  min-width: 9ch;
  display: inline-block;
  margin: 0 1ch;
  white-space: pre;
}

.link.active .link-label,
.link:hover,
.link:hover .link-label {
  color: var(--fg-highlight);
}

#player-info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-auto-rows: auto;
}

.player-stat-label {
  grid-column: 1;
  text-align: right;
  color: var(--fg03);
  margin-right: 1ch;
}

.player-stat-value {
  grid-column: 2;
  color: var(--fg02);
}

.emphasized {
  color: var(--fg01);
}

.deemphasized {
  color: var(--fg03);
}

#loading-nav {
  margin-top: 40px;
}

.loading-cursor {
  display: inline-block;
  animation: cursor-blink 1.5s linear infinite;
  width: 1ch;
  height: 1em;
  margin-bottom: -2px;
  margin-left: 2px;
}

@keyframes cursor-blink {
  0%, 10%, 90%, 100% {
    background: var(--fg02);
  }
  30%, 70% {
    background: transparent;
  }
}

#content {
  padding: 32px 40px 40px;
}

#page-title {
  margin: 0 0 40px;
}

#ladder-table {
  text-align: left;
  border-collapse: collapse;
}

#ladder-table tbody td {
  border-left: 1px solid var(--table-border);
  padding: 4px 8px;
}

#ladder-table thead {
  color: var(--fg03);
  border-bottom: 3px solid var(--table-border);
}

#ladder-table thead th {
  border-left: 3px solid var(--table-border);
  padding: 4px 8px;
}

#ladder-table tbody td:first-child,
#ladder-table thead th:first-child {
  border-left: none;
}

#ladder-table tbody tr.is-player {
  color: var(--fg01);
}

#ladder-table tbody tr.is-player td {
  background: var(--bg02);
}

#ladder-table tbody tr:hover td {
  background: var(--bg02);
}

#ladder-table tbody .ladder-rank,
#ladder-table tbody .ladder-lvl,
#ladder-table tbody .ladder-wins,
#ladder-table tbody .ladder-losses {
  text-align: right;
}

#ladder-table tbody .ladder-fight {
  cursor: pointer;
  background: var(--bg02);
  color: var(--fg01);
}

#ladder-table tbody .ladder-fight:hover {
  color: var(--fg-highlight);
}

#ladder-table tbody tr.is-player .ladder-fight {
  color: var(--fg03);
}

.news-item:not(:first-of-type) {
  margin-top: 60px;
}


.news-item-title {
  margin: 0;
  color: var(--fg01);
}

.news-item-date {
  font-size: 14px;
  color: var(--fg03);
}

.news-item-text {
  max-width: 60ch;
}

.news-item-text a {
  color: var(--fg-highlight);
  position: relative;
  text-decoration: none;
}

.news-item-text a:after {
  position: absolute;
  content: '';
  background: var(--fg-highlight-transparent);
  left: -3px;
  right: -3px;
  bottom: -2px;
  height: 4px;
  transition: bottom 0.25s ease, height 0.25s ease;
}

.news-item-text a:hover:after {
  bottom: 0px;
  height: 100%;
}

.character-special-item-value {
  padding-left: 20px;
}

.character-special-item-inc button {
  border: none;
  background: transparent;
  color: var(--fg01);
  font-size: 18px;
}

.character-special-item-inc button:disabled {
  color: var(--fg03);
}

.character-special-item-inc button:not(:disabled):hover {
  color: var(--fg-highlight);
  background: var(--bg02);
}

#fight-back-button {
  margin-top: 40px;
}
