:root {
  --bg01: #111810;
  --bg02: #10240C;

  --fg03: #007C00;
  --fg02: #00C000;
  --fg01: #3CF800;
  --fg-highlight: #FCFD7D;

  --bg02-half-transparent: rgba(16,36,12,0.5);
  --fg01-half-transparent: rgba(60,248,0,0.5);
  --fg01-fully-transparent: rgba(60,248,0,0);
  --fg03-half-transparent: rgba(0,124,0,0.5);
  --fg-highlight-transparent: rgba(252,253,125,0.25);

  /* filters for the logo calculated with https://codepen.io/sosuke/pen/Pjoqqp */
  --filter-fg02: invert(42%) sepia(85%) saturate(1707%) hue-rotate(88deg) brightness(102%) contrast(112%);
  --filter-fg01: invert(71%) sepia(54%) saturate(3327%) hue-rotate(60deg) brightness(106%) contrast(118%) drop-shadow(0px 0px 8px var(--fg03));
}

@font-face {
  font-family: BQN386;
  font-weight: normal;
  src: url('../fonts/BQN386.ttf'); /* Taken from https://dzaima.github.io/BQN386/BQN386.ttf */
}

@font-face {
  font-family: BQN386;
  font-weight: bold;
  src: url('../fonts/BQN386.ttf'); /* Taken from https://dzaima.github.io/BQN386/BQN386.ttf */
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  font-family: BQN386;
  font-size: 18px;
  color: var(--fg02);
  margin: 0;
  position: relative;
  min-height: 100%;
}

body:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-style: solid;
  border-width: 128px;
  border-color: transparent;
  border-image: url('../images/border-image.png') 50% repeat;
  box-sizing: border-box;
  pointer-events: none;
}

p {
  max-width: 60ch;
}

pre {
  font-family: BQN386;
}

button, input, textarea {
  font-family: BQN386;
  border: none;
  background: transparent;
  font-size: 18px;
  color: var(--fg02);
  padding: 0;
  margin: 0;
}
button:disabled {
  color: var(--fg03);
}
input:focus, textarea:focus {
  outline: none;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

.has-tooltip {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--fg03);
}

button:hover,
button:active {
  color: var(--fg01);
  outline-color: var(--fg01);
}

::placeholder {
  color: var(--fg03);
}

ul {
  margin: 0;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: var(--bg01);
}

#left-nav {
  background-color: var(--bg02);
  min-width: 285px;
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

#logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 26px;
}

#logo {
  width: 190px;
  height: 36px;
  filter: var(--filter-fg02);
}

#version {
  font-size: 14px;
  color: var(--fg03);
}

#app.logged-in #logo,
#app.admin #logo {
  filter: var(--filter-fg01);
  animation: flicker 2s linear 1;
}

/* Safari hack courtesy https://browserstrangeness.github.io/

Disable the flicker animation in Safari, since it behaves very weird and
doesn't look as nice as in Chrome/Firefox. 
*/
_::-webkit-full-page-media, _:future, :root #app.logged-in #logo,
_::-webkit-full-page-media, _:future, :root #app.admin #logo {
  animation: none;
}

@keyframes flicker {
  0%, 19%, 26%, 46%, 65%, 82%, 86%, 87%, 90%, 95% {
    filter: var(--filter-fg02);
  }
  20%, 25%, 47%, 64%, 83%, 85%, 88%, 89%, 96%, 100% {
    filter: var(--filter-fg01);
  }
}

#login-form {
  margin-top: 40px;
  width: 18ch;
}

#login-form input {
  color: var(--fg01);
  width: 18ch;
  margin: 0;
  padding: 0;
}

#login-form input:focus {
  background-color: var(--bg01);
}

#login-form-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

#alert-message {
  margin-top: 40px;
  color: var(--fg-highlight);
}

#logged-out-links,
#logged-in-links {
  margin-top: 40px;
}

#common-links {
  margin-top: 1em;
}

.link {
  color: var(--fg03);
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: left;
}

.link-label {
  color: var(--fg01);
  text-transform: uppercase;
  width: 9ch;
  min-width: 9ch;
  display: inline-block;
  margin: 0 1ch;
  white-space: pre;
}

.link.active .link-label,
.link:hover,
.link:hover .link-label {
  color: var(--fg-highlight);
}

.link.dimmed:not(:hover):not(.active) .link-label {
  color: var(--fg03);
}

.link:disabled .link-left-bracket,
.link:disabled .link-right-bracket,
.link:disabled .link-label {
  color: var(--fg03);

}

#player-info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-auto-rows: auto;
}

.player-stat-label {
  grid-column: 1;
  text-align: right;
  color: var(--fg03);
  margin-right: 1ch;
}

.player-stat-value {
  grid-column: 2;
  color: var(--fg02);
}

.emphasized {
  color: var(--fg01);
}

.slightly-emphasized {
  color: var(--fg02);
}

.deemphasized {
  color: var(--fg03);
}

#loading-nav {
  margin-top: 40px;
}

.loading-cursor {
  display: inline-block;
  animation: cursor-blink 1.5s linear infinite;
  width: 1ch;
  height: 1em;
  margin-bottom: -2px;
  margin-left: 2px;
}

@keyframes cursor-blink {
  0%, 10%, 90%, 100% {
    background: var(--fg02);
  }
  30%, 70% {
    background: transparent;
  }
}

#content {
  padding: 32px 40px 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

#page-title {
  margin: 0 0 40px;
}

table {
  text-align: left;
  border-collapse: collapse;
}

table tbody td {
  border-left: 1px solid var(--fg03-half-transparent);
  padding: 4px 8px;
}

table thead {
  color: var(--fg03);
  border-bottom: 3px solid var(--fg03-half-transparent);
}

table thead th {
  border-left: 3px solid var(--fg03-half-transparent);
  padding: 4px 8px;
  font-weight: normal;
}

table tbody td:first-child,
table thead th:first-child {
  border-left: none;
}

table tbody tr:hover td {
  background: var(--bg02);
}

#ladder-table tbody tr.is-player {
  color: var(--fg01);
}

#ladder-table tbody tr.is-player td {
  background: var(--bg02);
}

#ladder-table tbody .ladder-rank,
#ladder-table tbody .ladder-lvl,
#ladder-table tbody .ladder-wins,
#ladder-table tbody .ladder-losses {
  text-align: right;
}

#ladder-table tbody .ladder-fight {
  cursor: pointer;
  background: var(--bg02);
  color: var(--fg01);
}

#ladder-table tbody .ladder-fight:hover {
  color: var(--fg-highlight);
}

#ladder-table tbody tr.is-player .ladder-fight {
  color: var(--fg03);
}

#messages-table tbody .messages-unread {
  text-align: right;
}

#messages-table tbody tr.is-unread {
  color: var(--fg01);
}

#messages-table tbody .messages-remove:hover {
  color: var(--fg-highlight);
}

#messages-empty-note {
  margin-top: 40px;
}

#message-summary {
  margin: 0;
  color: var(--fg01);
}

#message-date {
  font-size: 14px;
  color: var(--fg03);
}

#message-content {
  max-width: 60ch;
}

.news-item:not(:first-of-type) {
  margin-top: 60px;
}


.news-item-title {
  margin: 0;
  color: var(--fg01);
}

.news-item-date {
  font-size: 14px;
  color: var(--fg03);
}

.news-item-text {
  max-width: 60ch;
}

.news-item-text a {
  color: var(--fg-highlight);
  position: relative;
  text-decoration: none;
}

.news-item-text a:after {
  position: absolute;
  content: '';
  background: var(--fg-highlight-transparent);
  left: -3px;
  right: -3px;
  bottom: -2px;
  height: 4px;
  transition: bottom 0.25s ease, height 0.25s ease;
}

.news-item-text a:hover:after {
  bottom: 0px;
  height: 100%;
}

.news-item-text strong {
  font-weight: normal;
  color: var(--fg-highlight);
}

.news-item-text li:not(first-child) {
  margin-top: 1em;
}

.character-special-attribute-value {
  padding-left: 2ch;
  width: 2ch;
  text-align: right;
}
.character-special-attribute-value.out-of-range {
  color: var(--fg-highlight);
}

.character-special-attribute-dec button,
.character-special-attribute-inc button {
  border: none;
  background: transparent;
  color: var(--fg01);
  font-size: 18px;
}

.character-special-attribute-dec button:not(:disabled):hover,
.character-special-attribute-inc button:not(:disabled):hover {
  color: var(--fg-highlight);
  background: var(--bg02);
}

.character-special-attribute-dec {
  padding-right: 20px;
}

.character-special-attribute-inc {
  padding-left: 20px;
}

#character-stats-list {
  margin-top: 40px;
}

#fight-back-button {
  margin-top: 40px;
}

#message-back-button {
  margin-top: 40px;
}

#create-char-button {
  margin-top: 40px;
}

#next-tick,
#server-tick {
  font-size: 14px;
  color: var(--fg03);
  height: 1em;
}

#next-tick {
  margin-top: 20px;
}

#server-tick {
  margin-top: 10px;
}

#server-tick:not(.ok) .slightly-emphasized {
  color: var(--fg-highlight);
}

#map {
  position: relative;
  width:  calc(var(--map-columns) * var(--map-cell-size));
  height: calc(var(--map-rows)    * var(--map-cell-size));
  background-color: black;
  background-image: url('../images/map_whole.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  user-select: none;
}

#map-cost-info {
  transform: translate(
    calc(var(--map-cell-size) * (0.5 + var(--tile-coord-x)) - 50%),
    calc(var(--map-cell-size) * var(--tile-coord-y) - 100% - 10px)
  );
  width: min-content;
  white-space: nowrap;
  padding: 20px;
  background-color: var(--bg01);
  color: var(--bad-path-color, var(--fg02));
  position: relative;
  z-index: 3;
}

#map-mouse-layer {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

#map-mouse-layer.too-distant,
#map-mouse-layer.not-all-passable {
  --bad-path-color: var(--fg-highlight);
}

#map-tiles {
  display: grid;
  grid-template-columns: repeat(var(--map-columns), var(--map-cell-size));
  grid-template-rows:    repeat(var(--map-rows), var(--map-cell-size));
}

#map-mouse-event-catcher {
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.tile {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--map-cell-size);
  height: var(--map-cell-size);
  transform: translate(
    calc(var(--map-cell-size)  * var(--tile-coord-x)),
    calc(var(--map-cell-size) * var(--tile-coord-y))
  );
}

#map-path-tiles {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.map-path-tile {
  background: var(--bad-path-color,var(--fg03));
  opacity: 0.5;
  pointer-events: none;
  z-index: 1;
}

#map-mouse-tile {
  background: var(--bad-path-color,var(--fg03));
  opacity: 0.75;
  pointer-events: none;
  z-index: 1;
}

#map-locations {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
}

.map-location {
  color: var(--fg01);
  opacity: 0.5;
}
.map-location.has-vendor { opacity: 1; }
.map-location.is-current { opacity: 1; }
.map-location:hover { opacity: 1; }

.map-location.small {
  --location-border-width: 1px;
  --location-size: 11px;
  --location-name-top: 68%;
}

.map-location.middle {
  --location-border-width: 1px;
  --location-size: 23px;
  --location-name-top: 75%;
}

.map-location.large {
  --location-border-width: 2px;
  --location-size: 45px;
  --location-name-top: 100%;
}

.map-location:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: block;
  width: var(--location-size);
  height: var(--location-size);
  border: var(--location-border-width) solid var(--fg01);
  border-radius: 50%;
  background: radial-gradient(circle, 
                              var(--fg01-fully-transparent) 0%, 
                              var(--fg01-half-transparent) 100%);
  transform: translate(-50%, -50%);
}

.map-location:after {
  content: attr(data-location-name);
  display: block;
  font-size: 16px;
  top: var(--location-name-top);
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  position: absolute;
  white-space: nowrap;
  background-color: rgba(0,0,0,0.25);
  padding: 0 4px;
  line-height: 13px;
  text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
}


#map-marker {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(
    calc(var(--map-cell-size)  * (0.5 + var(--player-coord-x)) - 50%),
    calc(var(--map-cell-size) * (0.5 + var(--player-coord-y)) - 50%)
  );
  z-index: 2;
}

.fight-log-action strong {
  color: var(--fg-highlight);
}

.fight-info {
  margin-top: 40px;
}

#import-textarea {
  border: none;
  background-color: var(--bg02);
  width: 80ch;
  height: 20em;
  margin-bottom: 1em;
}

#town-store-grid {
  margin-top: 40px;
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "player-name       player-name         vendor-name         vendor-name"
    "player-kept-caps  player-traded-caps  vendor-traded-caps  vendor-kept-caps"
    "player-kept-items player-traded-items vendor-traded-items vendor-kept-items"
    "barter-reset-btn  player-traded-value vendor-traded-value barter-confirm-btn";
}

#town-store-reset-btn {
  grid-area: barter-reset-btn;
}
#town-store-confirm-btn {
  grid-area: barter-confirm-btn;
}
#town-store-player-name {
  grid-area: player-name;
  padding: 8px;
}
#town-store-vendor-name {
  grid-area: vendor-name;
  text-align: right;
  padding: 8px;
}
#town-store-player-name,
#town-store-vendor-name {
  border-bottom: 2px solid var(--bg02);
}
#town-store-player-traded-value {
  grid-area: player-traded-value;
  color: var(--fg01);
  text-align: center;
}
#town-store-vendor-traded-value {
  grid-area: vendor-traded-value;
  color: var(--fg01);
  text-align: center;
}
.town-store-transfer-btn {
  padding: 2px 4px;
  margin: 0 4px;
  background: var(--bg02);
  color: var(--fg02);
}
.town-store-transfer-btn:disabled {
  color: var(--fg03);
  opacity: 0.5;
  pointer-events: none;
}
.town-store-transfer-btn:not(:disabled):hover {
  background: var(--fg03);
  color: var(--fg01);
}
.town-store-transfer-btn.hidden {
  display: none;
}

.town-store-item {
  display: flex;
  align-items: center;
}

.town-store-item-label {
  flex: 1;
}

.player-traded-caps .town-store-item-label,
.vendor-kept-caps .town-store-item-label,
.vendor-kept-item .town-store-item-label,
.player-traded-item .town-store-item-label {
  margin-left: 4px;
}

.town-store-item,
#town-store-player-traded-value,
#town-store-vendor-traded-value {
  padding: 8px;
}

#town-store-player-traded-bg {
  grid-area: 2 / 2 / 5 / 3; 
  background-color: var(--bg02-half-transparent);
  border-right: 1px solid var(--bg02);
}
#town-store-vendor-traded-bg {
  grid-area: 2 / 3 / 5 / 4; 
  background-color: var(--bg02-half-transparent);
  border-left: 1px solid var(--bg02);
}

.town-store-item.player-kept-caps   { grid-area: player-kept-caps; }
.town-store-item.player-traded-caps { grid-area: player-traded-caps; }
.town-store-item.vendor-kept-caps   { grid-area: vendor-kept-caps; }
.town-store-item.vendor-traded-caps { grid-area: vendor-traded-caps; }

.town-store-caps {
  padding-top: 4px;
  padding-bottom: 8px;
}
.town-store-caps[data-caps="0"] {
  color: var(--fg03);
}

#town-store-player-kept-items   { grid-area: player-kept-items; }
#town-store-player-traded-items { grid-area: player-traded-items; }
#town-store-vendor-kept-items   { grid-area: vendor-kept-items; }
#town-store-vendor-traded-items { grid-area: vendor-traded-items; }

#town-store-player-traded-value { grid-area: player-traded-value; }
#town-store-vendor-traded-value { grid-area: vendor-traded-value; }

#town-store-barter-message {
  margin-top: 40px;
  color: var(--fg-highlight);
}

.town-store-transfer-n-area {
  display: flex;
}
.town-store-transfer-n-area       .after-hover  { display: none; }
.town-store-transfer-n-area:hover .after-hover  { display: block; }
.town-store-transfer-n-area       .before-hover { display: block; }
.town-store-transfer-n-area:hover .before-hover { display: none; }
.town-store-transfer-n-input {
  width: 5.5ch;
  background-color: var(--bg02);
  padding-left: 6px;
}

.character-skills-skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.character-skills-skill:hover,
.character-skills-skill:hover .character-skill-tag-btn,
.character-skills-skill:hover .character-skill-inc-btn {
  color: var(--fg01);
}
.character-skills-skill.is-taggable {
  cursor: pointer;
}
.character-skills-skill.not-useful {
  opacity: 0.5;
}
.character-skills-skill.is-tagged,
.character-skills-skill.is-tagged .character-skill-tag-btn ,
.character-skills-skill.is-tagged .character-skill-inc-btn {
  color: var(--fg-highlight);
}
.character-skill-tag-btn {
  white-space: pre;
  margin-right: 1ch;
}
.character-skill-inc-btn {
  white-space: pre;
  margin-left: 1ch;
}
#character-skills.cannot-inc .character-skill-inc-btn {
  opacity: 0.5;
}
.character-skill-value {
  display: flex;
}
.character-skill-percent {
  padding-left: 2ch;
  width: 4ch;
  text-align: right;
}
#character-skills-list {
  width: max-content;
  padding: 0;
}

.new-character-traits-trait {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.new-character-traits-trait:hover,
.new-character-traits-trait:hover .new-character-trait-tag-btn {
  color: var(--fg01);
}
.new-character-traits-trait.is-toggled,
.new-character-traits-trait.is-toggled .new-character-trait-tag-btn {
  color: var(--fg-highlight);
}
.new-character-trait-tag-btn {
  white-space: pre;
  margin-right: 1ch;
}
#new-character-traits-list {
  width: max-content;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#new-character-grid,
#character-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#new-character-traits,
#character-traits,
#character-perks {
  margin-top: 40px;
}

#new-character-notes p {
  max-width: none;
  color: var(--fg03);
}

#new-character-create-btn {
  margin-top: 40px;
}

.new-character-section-title,
.character-section-title {
  color: var(--fg03);
  font-size: 18px;
  margin-top: 0;
}
.new-character-section-available-number,
.character-section-available-number {
  color: var(--fg-highlight);
}

#new-character-special p,
#new-character-traits p,
#new-character-skills p {
  color: var(--fg03);
}

#new-character-error {
  color: var(--fg-highlight);
  margin-top: 20px;
}

#new-character-help,
#character-help {
  margin-top: 20px;
}

.inventory-item button {
  margin-right: 1ch;
}
.inventory-item button:last-child {
  margin-right: 2ch;
}
.inventory-item-use-btn:disabled {
  color: var(--fg03);
}
.inventory-equipment-unequip-btn {
  margin-left: 1ch;
}

.character-choose-perk-item {
  cursor: pointer;
}

.character-choose-perk-item:hover {
  color: var(--fg-highlight);
}

#character-choose-perk {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

#character-choose-perk-columns {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hovered-item-title {
  margin-top: 0;
  color: var(--fg-highlight);
}

#about-content strong {
  color: var(--fg-highlight);
}

#about-content p {
  margin-top: 0;
}

#fight-stats-table th,
#fight-stats-table td {
  text-align: right;
}

.fight-strategy-grid {
  display: grid;
  grid-template-areas: 
    "examples info"
    "textarea info";
}
.fight-strategy-examples {
  grid-area: examples;
}
.fight-strategy-example {
  text-transform: none;
}
.fight-strategy-example:before {
  content: '[';
}
.fight-strategy-example:after {
  content: ']';
}
.fight-strategy-textarea {
  background-color: var(--bg02);
  grid-area: textarea;
  width: 50ch;
  height: 25em;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
}
.fight-strategy-info {
  grid-area: info;
  margin-left: 16px;
}
.fight-strategy-info-heading {
  margin-bottom: 16px;
}
.fight-strategy-help-btn {
  margin-left: 1ch;
}

.fight-strategy-save-btn {
}
.fight-strategy-dead-ends {
  margin: 0;
  padding: 0;
}
.fight-strategy-dead-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fight-strategy-dead-end.hovered {
  color: var(--fg01);
}
.fight-strategy-dead-end-location {
  margin-left: 2ch;
}
.fight-strategy-syntax-help {
  font-size: 16px;
}
.fight-strategy-syntax-help-reference {
  color: var(--fg-highlight);
}
.fight-strategy-syntax-help-grid {
  display: grid;
  grid-template-areas: 'cheatsheet hover';
}
.fight-strategy-syntax-help-cheatsheet {
  grid-area: cheatsheet;
}
.fight-strategy-syntax-help-hover {
  grid-area: hover;
  margin-left: 2ch;
}
.fight-strategy-syntax-help-hover-description {
  white-space: pre-wrap;
}
