/*
https://github.com/evilmartians/mono/releases
https://gwfh.mranftl.com/fonts/martian-mono?subsets=latin,latin-ext
*/
@font-face {
  font-display: swap;
  font-family: 'Martian Mono';
  src: url('../fonts/MartianMonoVF.woff2') format('woff2');
  font-weight: 100 800;
  font-stretch: 75% 112.5%;
}